<div class="container">
  <div class="row">
</div>
  <div class="row mt-4">
    <div class="col">
      <p class="h4">Popular Products</p>
    </div>
  </div>
  <div class="row">
    <div class="col-8">
      Left col
    </div>
      
    </div>
  </div>
</div>